/server-side/modelling/weights/
/server-side/modelling/data/
/server-side/modelling/tuned_model/
/shop-visual-aids/*.mp4
/shop-visual-aids/*.mov
/.env

# Logs
/svelte-client-side/logs
/svelte-client-side/*.log
/svelte-client-side/npm-debug.log*
/svelte-client-side/yarn-debug.log*
/svelte-client-side/yarn-error.log*
/svelte-client-side/pnpm-debug.log*
/svelte-client-side/lerna-debug.log*

/svelte-client-side/node_modules
/svelte-client-side/dist
/svelte-client-side/dist-ssr
/svelte-client-side/*.local

# Editor directories and files
/svelte-client-side/.vscode/*
/svelte-client-side/!.vscode/extensions.json
/svelte-client-side/.idea
/svelte-client-side/.DS_Store
/svelte-client-side/*.suo
/svelte-client-side/*.ntvs*
/svelte-client-side/*.njsproj
/svelte-client-side/*.sln
/svelte-client-side/*.sw?

# Logs
/react-client-side/logs
/react-client-side/*.log
/react-client-side/npm-debug.log*
/react-client-side/yarn-debug.log*
/react-client-side/yarn-error.log*
/react-client-side/pnpm-debug.log*
/react-client-side/lerna-debug.log*

/react-client-side/node_modules
/react-client-side/dist
/react-client-side/dist-ssr
/react-client-side/*.local

# Editor directories and files
/react-client-side/.vscode/*
/react-client-side/!.vscode/extensions.json
/react-client-side/.idea
/react-client-side/.DS_Store
/react-client-side/*.suo
/react-client-side/*.ntvs*
/react-client-side/*.njsproj
/react-client-side/*.sln
/react-client-side/*.sw?
