@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;

    /* spacing */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

html{
    /* design */
    line-height: 1.5;
    /* border: 1px solid purple; */

    /* behavior */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.25rem;
    background-color: rgba(0, 0, 0, 0.068);
}

html::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
}

body{
    /* design */
    /* inherit line height of parent which is html */
    line-height: inherit;
    /* border: 1px solid red; */
}

.main-content{
    /* set to 100% not vw since it will not ake into account scrollbar */
    width: 100%;
}

/* LANDING SECTION */
#landing-section{
    /* size for each section*/
    /* take into account navbar in landing section */
    /* min-height: calc(100vh - clamp(3.5rem, 6.5vw, 6.5rem)); */
    min-height: 100vh;
  
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* position */
    position: relative;
  
    /* design */
    /* outline: 2px solid lightseagreen; */
  }
  
  #landing-section::after{
    width: 100%;
    height: 100%;
  
    /* position */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* to not affect contents color place pseudo element behind content */
    z-index: -1;
  
    /* alignment */ 
    /*   margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
  
    /* design */
    content: '';
    background-image: url('https://raw.githubusercontent.com/08Aristodemus24/project-seraphim/master/client-side/src/assets/mediafiles/journey-painting-wallpaper.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(75%);
  }
  
  .landing-content{
    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* size */
    /* outline: 3px solid purple; */
  } 

/* CONTACT SECTION */
#contact-section{
    /* design */
    /* outline: 2px solid darkcyan; */
    background-color: black;

    /* size */
    /* will take height of contact content through auto value */

    /* display */
    display: flex;
    justify-content: center;
    
}

.contact-content{
    /* design */
    /* outline: 1px solid rgb(243, 80, 15); */

    /* size */
    min-height: 100vh;
    padding-block: 1rem;

    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* spacing */
    row-gap: clamp(32px, 5vw, 80px);
}

.contact-header-container{
    /* outline: 1px solid yellow; */
}

.contact-header-container h1{
    /* design */
    font-family: 'Cormorant Garamond', serif;
    font-size: clamp(1.5rem, 3.75vw, 3.75rem);
    text-align: center;
    color: white;
    /* outline: 1px solid lightgreen; */

    /* spacing */
    margin-top: .5em;
    margin-bottom: .5em;
}

.form-container{
    /* outline: 1px solid yellow; */
    width: 100%;
}

.form-container .form{
    /* display */
    display: grid;

    /* size of columns and rows */
    grid-template-columns: repeat(auto-fit, 1fr);

    /* alignment */
    align-items: center;

    /* spacing */
    row-gap: 2rem;
    column-gap: 1.5rem;

    /* design */
    /* outline: 2px solid lightgreen; */
}

.email-container,
.message-container,
.submit-btn{
    /* grid position */
    grid-column-start: 1;
    grid-column-end: 3;
}

.fname-label, 
.lname-label, 
.email-label, 
.country-code-label, 
.mobile-num-label, 
.message-label{
    /* design */
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: clamp(12px, 1vw, 1rem);
    color: white;
    /* outline: 1px solid brown; */

    /* spacing */
    margin-top: 1em;
    margin-bottom: 1em;
  
    /* display */
    display: block;
}

.fname-field,
.lname-field,
.email-field,
.country-code-field,
.mobile-num-field,
.message-field{
    /* design */
    background-color: transparent;
    font-family: 'Nunito Sans', sans-serif;
    font-size: clamp(12px, 1vw, 1rem);
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid white;
    /* outline: 1px solid brown; */
    
    /* size */
    width: clamp(12rem, 100%, 1800px);
  
    /* display */
    display: block;
}

.country-code-field option{
    /* design */
    background-color: rgba(255, 0, 0, 0);
    color: black;
}

.submit-btn{
    /* design */
    background-color: transparent;
    font-family: 'Nunito Sans', sans-serif;
    font-size: clamp(12px, 1vw, 1rem);
    color: white;
    border: 1px solid white;
    
    /* size */
    padding: .5em 5em;

    /* alignment */
    justify-self: center;

    /* animation */
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.submit-btn:hover{
    /* design */
    cursor: pointer;
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    border: 1px solid white;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder{ 
    color: rgba(255, 255, 255, 0.075);
    opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder{ 
    color: rgba(255, 255, 255, 0.075);
}

/* Microsoft Edge */
::-ms-input-placeholder{ 
    color: rgba(255, 255, 255, 0.075);
}

.alert-container{
    /* position */
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: 20;

    /* design */
    opacity: 0%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.377);

    /* transition */
    transition: 
        opacity 0.25s ease-in-out,
        visibility 0.25s ease-in-out;
}

.alert-container.show{
    opacity: 100%;
    visibility: visible;
}

.alert-wrapper{
    /* position */
    position: absolute;
    top: 0;
    inset-inline: 0;
    margin-inline: auto;

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* size */
    height: 12.5%;
    width: 25%;

    /* design */
    color: black;
    text-align: center;
    font-size: clamp(10px, 1vw, 1rem);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    background-color: white;
    /* outline: 1px solid; */
}

@media (width < 640px){
    /* form */
    .email-container,
    .message-container,
    .submit-btn{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .prompts-container{
        justify-content: center;
    }

    .prompt-group{
        width: 100%;
    }
}

.glass-container{
    /* design */
    /* outline: 3px solid green; */
}

.glass{
    /* spacing */
    margin-block: 1rem;

    /* size */
    width: clamp(320px, 50vw, 1200px);

    /* design */
    background: rgba(255, 255, 255, 0.082);  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    outline: 1px solid rgba(255, 255, 255, 0.09);
    /* outline: 1px solid red; */
}

.messages-container{
    /* size */
    height: 75vh;
    padding: 1rem;
    margin-block: 1px;

    /* containment */
    overflow-y: scroll;

    /* design */
    outline: 1px solid rgba(255, 255, 255, 0.295);
}

.messages-container::-webkit-scrollbar{
    width: 0.25rem;
    /* background-color: rgba(0, 0, 0, 0.068); */
}

.messages-container::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.295);
    /* border-radius: 10px; */
}

.message{
    /* display */
    display: block;

    /* design */
    list-style: none;
    padding-left: 0;

    /* spacing */
    margin-block: 2.5rem;
}

.prompts-container{
    /* spacing */
    padding-inline: 1rem;
    padding-block: 0.75rem;

    /* display */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;

    /* design */
    outline: 1px solid rgba(255, 255, 255, 0.295);
    /* outline: 1px solid greenyellow; */
}

.prompt-group{
    /* size */
    width: 80%;

    /* display */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-container{
    /* display */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-container label{
    /* design */
    background-color: transparent;
    font-size: clamp(12px, 1vw, 1rem);
    color: rgba(255, 255, 255, 0.5);
}

.input-container .seq-len-field,
.input-container .prompt-field{
    /* design */
    background-color: transparent;
    font-size: clamp(12px, 1vw, 1rem);
    color: rgba(255, 255, 255, 0.5);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    /* size */
    height: 2.5rem;
    flex-grow: 1;
}

.seq-len-field::placeholder,
.prompt-field::placeholder{ 
    color: rgba(255, 255, 255, 0.295);
    opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
.seq-len-field:-ms-input-placeholder,
.prompt-field:-ms-input-placeholder{ 
    color: rgba(255, 255, 255, 0.295);
}

/* Microsoft Edge */
.seq-len-field::-ms-input-placeholder,
.prompt-field::-ms-input-placeholder{ 
    color: rgba(255, 255, 255, 0.295);
}

.input-container .temp-field{
    /* size */
    flex-grow: 1;
    align-self: flex-end;

    /* design */
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-appearance: none;
}

.temp-field::-webkit-slider-runnable-track{
    /* size */
    height: 1px;

    /* design */
    cursor: pointer;
    border-radius: 0px;
    border: 0px solid black;
    box-shadow: none;
    appearance: none;
}

.temp-field::-ms-track{
    /* size */
    height: 1px;

    /* design */
    cursor: pointer;
    border-radius: 0px;
    border: 0px solid black;
    box-shadow: none;
    appearance: none;
}

.temp-field::-webkit-slider-thumb{
    /* size */
    height: 20px;
    width: 3px;

    /* design */
    box-shadow: none;
    border: 0px solid black;
    background-color: #a09ab1;
    cursor: pointer;
    margin-top: -10px;
    -webkit-appearance: none;
}

.temp-field::-ms-thumb{
    /* size */
    height: 20px;
    width: 3px;

    /* design */
    box-shadow: none;
    border: 0px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    margin-top: -10px;
    -webkit-appearance: none;
}

.prompts-container .generate-btn{
    /* design */
    outline: 1px solid rgba(255, 255, 255, 0.5);
}